h1(class = "paginator__title") Posts
section(class = "paginator__posts")
ul(class = "paginator__control")
  li(class = "paginator__control-item") &laquo;
  li(class = "paginator__control-item") 1
  li(class = "paginator__control-item") &raquo;