$primaryColor:  #2a3132;
$secondaryColor: #454747;
$hoverColor: #8f8f8f;
$blueColor: #5bcbf2;

$mediumSize: 40px;
$largeSize: 60px;

$mediumSizeFont: 15px;
$largeSizeFont: 25px;
$smallSizeFont: 15px;

$fonts: 'Lato', Arial, sans-serif;