include ../../../node_modules/bemto.pug/bemto.pug

div(class='main-menu')

  div(class='main-menu__upper')
    a(class='main-menu__logo')
      img(class='main-menu__imagelogo' src!=jsonMenu.logo.img href!=jsonMenu.logo.link)

    div(class='main-menu__hamburger')
      span(class='main-menu__hamburger-top')
      span(class='main-menu__hamburger-bottom')

  ul(class='main-menu__list'): each element in jsonMenu.links
    if Object.keys(element).includes('href')
      li(class='main-menu__item')
        a(class='main-menu__link' href!=element.href)!=element.label
    else
      li(class='main-menu__item')
        button(class='main-menu__button')!= element.label
        ul(class='main-menu__sublist'): each subelement in element.links
          li(class='main-menu__subitem') 
              a(class='main-menu__link' href!=subelement.href)!=subelement.label